* {
  margin: 0;
  padding: 0;
}

img, button, a, main section#s4 article,
header>.container-header>nav>.rightNav>.phone {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

::selection {
  color: rgb(70, 70, 70) !important;
  background: #efff0a !important;
}

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

header {
  background-image: url(PNG/BackgrHeader.jpg);
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header .gradient {
  position: absolute;
  top: 990px;
  width: 100%; height: 70px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(255, 255, 255, 0));
}

header>.container-header {
  display: flex;
  justify-content: center;
}

header>.container-header>nav {
  width: 1180px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 700;
  
}

header>.container-header>nav>img {
  width: 259px;
  position: relative;
  top: -6px;
}

header>.container-header>nav>.rightNav {
  display: flex;
}

header>.container-header>nav>.rightNav a {
  color: black;
  font-size: 22px;
  text-decoration: none;
  margin: 0 20px;
}

header>.container-header>nav>.rightNav img {
  display: inline;
  position: relative;
  left: 15px;
  top: 2px;
  width: 20px;
}

header>.container-header>nav>.rightNav>.phone {
  position: relative;
  top: -7px;
}

header>.container-header>nav>.rightNav>.phone>div {
  width: 230px;
  text-align: right;
}

header>.container-header>nav>.rightNav>.phone .feedback {
  font-size: 13px;
  position: relative;
  top: -5px;
  text-decoration: underline;
  font-weight: 400;
}

header>.content-header {
  padding: 80px 0 40px;
  width: 1180px;
  text-align: center;
  color: white;
  text-shadow: 0 0 16px black, 0 0 16px black;
}

header>.content-header h1 {
  font-size: 72px;
  font-weight: 400;
}

header>.content-header h2 {
  font-size: 52px;
  font-weight: 400;
}

header>.content-header .button-block {
  height: 70px;
}

header>.content-header button {
  margin-top: 10px;
  color: white;
  background-color: rgba(15, 15, 15, 0.8);
  -webkit-text-stroke: 0;
  border: 0;
  width: 400px; height: 70px;
  font-size: 30px;
  cursor: pointer;
}

header>.content-header button:hover {
  background-color: rgba(15, 15, 15, 0.9);
}

header>.content-header img {
  margin-top: 10px;
}

header>.content-header .flex-icon {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

header>.content-header .flex-icon>div {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

header>.content-header .flex-icon p {
  font-size: 40px;
  font-weight: 400;
}


main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main section {
  width: 100%;
  display: flex;
  justify-content: center;
}

main section>div {
  width: 1180px;
  padding: 80px 0;
}

main section .title-block hr {
  margin-top: 10px;
  width: 75%; height: 1px;
  border: 0;
  background-color: black;
}

main section#s1, main section#s3, main section#s5 {
  background-color: #dbdcde;
  box-shadow: 0 0 50px 15px;
  z-index: 1;
}

main section .title-block {
  margin-left: 25px;
  font-size: 26px;
}

main section .title-block article {
  margin-left: 15px;
}

main section .info-block {
  background-image: url("PNG/backgr-info.png");
  margin: 50px 0 0 25px;
  width: 865px;
}

main section .info-block>div {
  background-color: #dbdcde67;
}

main section .info-block p {
  padding: 50px 50px 50px 20px;
  width: 700px;
  font-size: 20px;
  text-align: justify;
  text-indent: 35px;
}

main section .service-flex {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

main section .service-flex>div {
  margin: 15px;
  width: 510px; height: 260px;
  background-color: white;
  box-shadow: 0 0 8px black;
  display: flex;
  padding: 20px;
}

main section .service-flex>div>div {
  width: 50%;
}

main section .service-flex .left-div {
  margin-right: 7px;
}
main section .service-flex .right-div {
  margin-left: 7px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

main section .service-flex .right-div article {
  font-size: 20px;
  margin-bottom: 25px;
}
main section .service-flex .right-div p {
  font-size: 16px;
}

main section .service-flex .right-div button {
  /* margin-top: 35px; */
  width: 100%; height: 50px;
  border: 0;
  color: white;
  background-color: rgba(63, 63, 63, 0.8);
  font-size: 22px;
  cursor: pointer;
}

main section .service-flex .right-div button:hover {
  background-color: rgba(63, 63, 63, 0.95);
}

main section#s2, main section#s4{
  background-color: #dbdcde;
}

main section#s2 .content-s2 .info-service {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

main section#s2 .content-s2 .info-service>div {
  width: 425px;
}

main section#s2 .content-s2 .info-service p {
  font-size: 24px;
  margin-top: 40px;
}

main section#s3 .flex-block-logo-car {
  margin: 50px 0 0 25px;
  width: 85%;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: center;
}

main section#s3 .flex-block-logo-car>div {
  margin: 5px;
  width: 70px; height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main section#s3 img { position: relative; }

main section#s4 article {
  position: relative;
  top: -70px;
  left: 60px;
  color: rgba(245, 245, 220, 0);
  -webkit-text-stroke: 1px white;
  font-size: 50px;
  font-weight: 600;
  text-shadow: black -60px 60px 1px;
  margin-bottom: 20px;
}

main section#s4 .slick-block {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

main section#s4 .slick-block>div {
  text-align: center;
}

main section#s4 .prev,
main section#s4 .next {
  cursor: pointer;
  height: 60px;
}

main section#s4 .prev {
  margin-right: 20px;
}

main section#s4 .next {
  transform: rotate(180deg);
  margin-left: 20px;
}

main section#s4 .more-work {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
}

main section#s4 .more-work a {
  margin-left: 15px;
}

main section#s5 {
  overflow: hidden;
  height: 450px;
}

main section#s5 .content-s5 {
  margin: 0; padding: 0;
  width: 100%;
}

main section#s5 .content-s5 iframe {
  position: absolute;
}

main section#s5 .content-s5 .block-s5 {
  z-index: 1;
  position: relative;
  left: 60%;
  top: 30px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 8px black;
  text-align: center;
  font-size: 21px;
}

main section#s5 .content-s5 .block-s5>div {
  padding: 25px 30px;
}

main section#s5 .content-s5 .block-s5 button {
  width: 180px; height: 50px;
  margin-top: 20px;
  font-size: 21px;
  border: 0;
  color: white;
  background-color: rgba(63, 63, 63, 0.8);
  cursor: pointer;
}

main section#s5 .content-s5 .block-s5 button:hover {
  background-color: rgba(63, 63, 63, 0.95);
}

footer {
  background-color: #6a6c79;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  border-top: 2px #dbdcde solid;
}

footer .content-footer {
  width: 1180px;
  padding: 20px 0 0;
  color: white;
  font-size: 20px;
}

footer .content-footer .footer-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

footer .content-footer .footer-flex>div {
  width: 230px;
  margin-left: 30px;
  height: 70px;
}