* {
  margin: 0;
  padding: 0;
}

img, button, a, main section#s4 article,
header>.container-header>nav>.rightNav>.phone {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

::selection {
  color: rgb(70, 70, 70) !important;
  background: #def0f8 !important;
}

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

header {
  background: url(PNG/BackgrHeader.jpg) no-repeat,
              linear-gradient(to right, #bfc0c5,#a8a8adf0);
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

header .gradient {
  position: absolute;
  top: 990px;
  width: 100%; height: 70px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(255, 255, 255, 0));
}

header>.container-header {
  display: flex;
  justify-content: center;
}

header>.container-header>nav {
  width: 1180px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 700;
  
}

header>.container-header>nav>img {
  width: 259px;
  position: relative;
  top: -6px;
}

header>.container-header>nav>.rightNav {
  display: flex;
}

header>.container-header>nav>.rightNav a {
  color: black;
  font-size: 22px;
  text-decoration: none;
  margin: 0 20px;
}

header>.container-header>nav>.rightNav img {
  display: inline;
  position: relative;
  left: 15px;
  top: 2px;
  width: 20px;
}

header>.container-header>nav>.rightNav .menu-mobile {
  display: none;
}

header>.container-header>nav>.rightNav>.phone {
  position: relative;
  top: -7px;
}

header>.container-header>nav>.rightNav>.phone>div {
  width: 230px;
  text-align: right;
}

header>.container-header>nav>.rightNav>.phone>div>a {
  font-size: 27px;
}

header>.container-header>nav>.rightNav>.phone .feedback {
  font-size: 13px;
  position: relative;
  top: -5px;
  text-decoration: underline;
  font-weight: 400;
}

header>.content-header {
  padding: 80px 0 40px;
  width: 1180px;
  text-align: center;
  color: white;
  text-shadow: 0 0 16px black, 0 0 16px black;
}

header>.content-header h1 {
  font-size: 72px;
  font-weight: 400;
}

header>.content-header h2 {
  font-size: 52px;
  font-weight: 400;
}

header>.content-header .first-h2 {
  margin: 70px 0 10px;
}

header>.content-header .button-block {
  height: 70px;
}

header>.content-header button {
  margin-top: 10px;
  color: white;
  background-color: rgba(15, 15, 15, 0.8);
  -webkit-text-stroke: 0;
  border: 0;
  width: 400px; height: 70px;
  font-size: 30px;
  cursor: pointer;
}

header>.content-header .line-header {
  width: 550px;
}

header>.content-header button:hover {
  background-color: rgba(15, 15, 15, 0.9);
}

header>.content-header img {
  margin-top: 10px;
}

header>.content-header .flex-icon {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

header>.content-header .flex-icon>div {
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

header>.content-header .flex-icon .img1 {
  width: 240px;
}
header>.content-header .flex-icon .img2 {
  width: 150px;
}
header>.content-header .flex-icon .img3 {
  width: 250px;
}

header>.content-header .flex-icon p {
  font-size: 40px;
  font-weight: 400;
}


main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main section {
  width: 100%;
  display: flex;
  justify-content: center;
}

main section>div {
  width: 1180px;
  padding: 80px 0;
}

main section .title-block hr {
  margin-top: 10px;
  width: 75%; height: 1px;
  border: 0;
  background-color: black;
}

main section#s1, main section#s3, main section#s5 {
  background-color: #dbdcde;
  box-shadow: 0 0 50px 15px;
  z-index: 1;
}

main section .title-block {
  margin-left: 25px;
  font-size: 26px;
}

main section .title-block article {
  margin-left: 15px;
}

main section .info-block {
  background-image: url("PNG/backgr-info.png");
  margin: 50px 0 0 25px;
  max-width: 865px;
}

main section .info-block>div {
  background-color: #dbdcde67;
}

main section .info-block p {
  padding: 50px 50px 50px 20px;
  max-width: 700px;
  font-size: 20px;
  text-align: justify;
  text-indent: 35px;
}

main section .service-flex {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

main section .service-flex>div {
  margin: 15px;
  width: 510px; height: 260px;
  background-color: white;
  box-shadow: 0 0 8px black;
  display: flex;
  padding: 20px;
}

main section .service-flex>div>div {
  width: 50%;
}

main section .service-flex .left-div {
  margin-right: 7px;
}
main section .service-flex .right-div {
  margin-left: 7px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

main section .service-flex .right-div article {
  font-size: 20px;
  margin-bottom: 25px;
}
main section .service-flex .right-div p {
  font-size: 16px;
}

main section .service-flex .right-div button {
  /* margin-top: 35px; */
  width: 100%; height: 50px;
  border: 0;
  color: white;
  background-color: rgba(63, 63, 63, 0.8);
  font-size: 22px;
  cursor: pointer;
}

main section .service-flex .right-div button:hover {
  background-color: rgba(63, 63, 63, 0.95);
}

main section#s2, main section#s4{
  background-color: #dbdcde;
}

main section#s2 .content-s2 .info-service {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

main section#s2 .content-s2 .info-service>div {
  width: 425px;
}

main section#s2 .content-s2 .info-service img {
  height: 240px;
}

main section#s2 .content-s2 .info-service p {
  font-size: 24px;
  margin-top: 40px;
}

main section#s3 .flex-block-logo-car {
  margin: 50px 0 0 25px;
  width: 85%;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: center;
}

main section#s3 .flex-block-logo-car>div {
  margin: 5px;
  width: 70px; height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main section#s3 img { position: relative; }

main section#s4 article {
  width: 380px;
  position: relative;
  top: -70px;
  left: 60px;
  color: rgba(245, 245, 220, 0);
  -webkit-text-stroke: 1px white;
  font-size: 50px;
  font-weight: 600;
  text-shadow: black -60px 60px 1px;
  margin-bottom: 20px;
}

main section#s4 .slick-block {
  display: flex;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

main section#s4 .slick-slide>img {
  width: 320px; 
  margin-left: 20px;
}

main section#s4 .slick-block>div {
  text-align: center;
}

main section#s4 .prev,
main section#s4 .next {
  cursor: pointer;
  height: 60px;
}

main section#s4 .prev {
  margin-right: 20px;
}

main section#s4 .next {
  transform: rotate(180deg);
  margin-left: 20px;
}

main section#s4 .more-work {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 30px 25px 0;
}

main section#s4 .more-work a {
  margin-left: 15px;
  position: relative;
  top: 2px;
}

main section#s5 {
  overflow: hidden;
  height: 450px;
}

main section#s5 .content-s5 {
  margin: 0; padding: 0;
  width: 100%;
}

main section#s5 .content-s5 iframe {
  position: absolute;
}

main section#s5 .content-s5 .block-s5 {
  z-index: 1;
  position: relative;
  left: 60%; top: 30px;
  width: 450px;
  background-color: white;
  box-shadow: 0 0 8px black;
  text-align: center;
  font-size: 21px;
}

main section#s5 .content-s5 .block-s5>div {
  padding: 25px 30px;
}

main section#s5 .content-s5 .block-s5 button {
  width: 180px; height: 50px;
  margin-top: 20px;
  font-size: 21px;
  border: 0;
  color: white;
  background-color: rgba(63, 63, 63, 0.8);
  cursor: pointer;
}

main section#s5 .content-s5 .block-s5 button:hover {
  background-color: rgba(63, 63, 63, 0.95);
}

footer {
  background-color: #6a6c79;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  border-top: 2px #dbdcde solid;
}

footer .content-footer {
  width: 1180px;
  padding: 0 0 20px 0;
  color: white;
  font-size: 20px;
}

footer .content-footer .footer-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

footer .content-footer .footer-flex>div {
  width: 230px;
  margin-left: 30px;
  margin-top: 30px;
  height: 70px;
}

footer .content-footer .footer-flex>div.block-img {
  width: 250px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-right: 30px;
}



@media screen and (min-width: 1920px) {
  header {
    background-size: 100%;
  }
}

@media screen and (max-width: 1316px) {
  main>section#s4 .content-s4 .slick {
    display: flex;
    justify-content: center;
  }
  main>section#s4 .content-s4 .slick-block {
    width: 790px;
  }
  main section#s4 .slick-slide>img {
    margin: 10px;
  }
}

@media screen and (max-width: 1304px) {
  header>.container-header>nav {
    width: 920px;
  }
  header>.container-header>nav>img {
    width: 170px;
  }
  header>.container-header>nav>.rightNav {
    position: relative;
    top: -5px;
  }
  header>.container-header>nav>.rightNav a {
    font-size: 18px;
  }
  header>.container-header>nav>.rightNav>.phone img {
    width: 17px;
  }
  header>.container-header>nav>.rightNav>.phone>div>a {
    font-size: 24px;
  }
  header>.container-header>nav>.rightNav>.phone .feedback {
    font-size: 11.5px;
  }

  header>.content-header {
    max-width: 920px;
  }
  header>.content-header h1 {
    font-size: 56px;
  }
  header>.content-header h2 {
    font-size: 38px;
  }
  header>.content-header button {
    width: 300px; height: 60px;
    font-size: 28px;
  }
  header>.content-header .line-header {
    width: 400px;
  }
  header>.content-header .flex-icon>div {
    height: 200px;
  }
  header>.content-header .flex-icon .img1 {
    width: 200px;
  }
  header>.content-header .flex-icon .img2 {
    width: 110px;
  }
  header>.content-header .flex-icon .img3 {
    width: 210px;
  }
  header>.content-header .flex-icon p {
    font-size: 28px;
  }

  main section#s2 .content-s2 .info-service {
    flex-wrap: wrap;
    padding: 25px;
  }
  main section#s2 .content-s2 .info-service>div {
    width: 325px;
  }
  main section#s2 .content-s2 .info-service img {
    height: 190px;
  }
  main section#s2 .content-s2 .info-service p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1240px) {
  main section#s4 article {
    font-size: 40px;
    margin-left: 50px;
    text-shadow: black -50px 50px 1px;
    width: 298px;
  }
}

@media screen and (max-width: 1159px) {
  main section .info-block {
    max-width: 865px;
    margin-right: 25px;
  }
  main section .service-flex {
    justify-content: center;
  }

  main section#s2 .content-s2 .info-service>div {
    width: 285px;
  }
  main section#s2 .content-s2 .info-service img {
    height: 170px;
  }
  main section#s2 .content-s2 .info-service p {
    font-size: 18px;
  }

  main section#s5 .content-s5 .block-s5 {
    width: 350px;
    font-size: 18px;
    left: 55%;
  }
  main section#s5 .content-s5 .block-s5>div {
    padding: 15px 20px;
  }
  main section#s5 .content-s5 .block-s5 button {
    width: 150px; height: 40px;
    margin-top: 15px;
    font-size: 18px;
  }

  footer .content-footer {
    font-size: 18px;
  }
  footer .content-footer .footer-flex>div {
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
    height: 70px;
  }
  footer .content-footer .footer-flex>div.block-img {
    width: 100%;
  }
  /* footer .content-footer .footer-flex>div.feedback-footer {
    width: 160px;
    margin-left: 15px;
  } */
}

@media screen and (max-width: 810px) {
  main section .info-block p {
    padding: 30px 20px;
    font-size: 17px;
  }

  main section#s5 .content-s5 .block-s5 {
    width: 350px;
    font-size: 18px;
    position: absolute;
    top: auto;
    left: auto;
    margin: 10px;
  }
}

@media screen and (max-width: 960px) {
  header {
    background-position: bottom -300px right -850px;
  }
  header>.container-header {
    width: 100%;
  }
  header>.container-header>nav {
    padding-top: 20px;
    padding: 20px 20px 10px;
  }
  header>.container-header>nav>.rightNav {
    flex-direction: row-reverse;
  }
  header>.container-header>nav>.rightNav .menu-desctop {
    display: none;
  }
  header>.container-header>nav>.rightNav .menu-mobile {
    display: block;
  }

  header>.content-header {
    width: 100%;
    padding: 15px;
  }
  header>.content-header h1 {
    font-size: 40px;
  }
  header>.content-header h2 {
    font-size: 28px;
  }
  header>.content-header button {
    width: 280px; height: 55px;
  }
  header>.content-header .line-header {
    width: 350px;
  }
  header>.content-header .flex-icon {
    margin-top: 50px;
    justify-content: space-around;
  }
  header>.content-header .flex-icon>div {
    max-width: 200px; height: 200px;
  }
  header>.content-header .flex-icon .img1 {
    width: 170px;
  }
  header>.content-header .flex-icon .img2 {
    width: 90px;
  }
  header>.content-header .flex-icon .img3 {
    width: 180px;
  }
  header>.content-header .flex-icon p {
    font-size: 26px;
  }

  main section#s2 .content-s2 .info-service>div {
    width: 245px;
    margin-bottom: 35px;
  }
  main section#s2 .content-s2 .info-service img {
    height: 140px;
  }
  main section#s2 .content-s2 .info-service p {
    font-size: 16px;
    margin-top: 10px;
  }

  
}

@media screen and (max-width: 845px) {
  main>section#s4 .content-s4 .slick-block {
    max-width: 450px;
  }
  main section#s4 article {
    font-size: 32px;
    text-shadow: black -35px 35px 1px;
  }
}

@media screen and (max-width: 630px) {
  header {
    background-position: top 0 left 50%;
    background-size: 630px;
    background-repeat: no-repeat;
  }
  header>.content-header .flex-icon {
    flex-wrap: wrap;
  }
  header>.content-header .flex-icon>div {
    max-width: 200px; height: 155px;
    margin-bottom: 20px;
  }

  header>.content-header h1 {
    font-size: 28px;
  }
  header>.content-header h2 {
    font-size: 20px;
  }
  header>.content-header .first-h2 {
    margin: 30px 0 5px;
  }
  header>.content-header button {
    margin-top: 25px;
    width: 240px; height: 45px;
    font-size: 24px;
  }
  header>.content-header .line-header {
    width: 270px;
  }
  header>.content-header .flex-icon>div {
    max-width: 200px; height: 180px;
  }
}

@media screen and (max-width: 585px) {
  main section .service-flex>div {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  main section .service-flex>div>div {
    width: 100%;
    text-align: center;
  }
  main section .service-flex img {
    max-width: 400px;
  }
  main section .service-flex .logo-services {
    display: none;
  }
  main section .service-flex .right-div article {
    margin: 20px 0 10px;
  }
  main section .service-flex .right-div button {
    margin: 20px 0 10px;
  }

  main section#s3 .flex-block-logo-car {
    justify-content: center;
  }
}

@media screen and (max-width: 505px) {
  main section .title-block hr {
    width: 360px;
  }
  main section#s4 article {
    left: 20px;
  }
  main section#s4 .more-work {
    font-size: 16px;
  }
}

@media screen and (max-width: 490px) {
  main section .info-block p {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  main>section#s4 .content-s4 .slick-block {
    width: 340px;
  }
  main section#s4 .slick-slide>img {
    width: 280px; 
    margin-left: 0;
  }

  main section#s5 .content-s5 .block-s5 {
    width: 300px;
    font-size: 14px;
  }
  main section#s5 .content-s5 .block-s5>div {
    padding: 10px 15px;
  }
  main section#s5 .content-s5 .block-s5 button {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  header {
    background-position: top 0 left 50%;
    background-size: 450px;
    background-repeat: no-repeat;

  }
  header>.container-header>nav>.rightNav>.phone {
    display: none;
  }
}

@media screen and (max-width: 429px) {
  header>.content-header .flex-icon>div {
    max-width: 200px; height: auto;
    align-content: center;
  }
  header>.content-header .flex-icon p {
    margin-top: 10px;
  }
  
  main section .info-block p {
    font-size: 14px;
  }
  main section .title-block {
    font-size: 22px;
  }
  main section .title-block hr {
    width: 310px;
  }
}

@media screen and (max-width: 406px) {
  /* footer .content-footer .footer-flex>div.feedback-footer {
    width: 160px;
    margin-left: -15px;
  } */
}

@media screen and (max-width: 385px) {
  main section#s4 article {
    left: 10px;
  }
}